body {
	background-color: #201F23;
}
.btn-delete {
	float: right;
	margin-left: 10px;
}
.panel-title {
	float: left;
	max-width: 82%;
	text-decoration: underline;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-heading {
	min-height: 55px;
	position: relative;
}
.panel-body {
	min-height: 134px;
}
.add-card {
	margin-bottom: 10px;
	width: 100%;
}
.card {
	border: 1px dotted #333;
	border-radius: 10px;
	margin-top: 5px;
	min-height: 55px;
	padding: 10px;
	text-align: justify;
	background: #F6F6F6;
	cursor: move;
}
.card-description {
	max-width: 84%;
	display: inline;
	cursor: text;
}
.card-edit {
	color: #333;
	font-size: 0.7em;
	margin-top: 10px;
}
.card-placeholder {
	border: 2px dotted #3E6F11;
	border-radius: 10px;
	margin-top: 5px;
	min-height: 55px;
	padding: 10px;
	background: #fff;
}
ul {
	padding-left: 0;
	list-style-type: none;
	min-height: 55px;
	margin-bottom: 0;
}
.create-column {
	margin-bottom: 15px;
}
.fon {
	position: fixed;
	top: 0;
	background-image: url('bg_1.jpg');
	background-position: center;
	height: 100%;
	width: 100%;
	background-size: cover;
	z-index: -2;
}
.img-left {
	position: fixed;
	bottom: 0;
	left: -80px;
	z-index: -1;
}
.img-left img, .img-right img {
	width: 100%;
	height: auto;
}
.img-right {
	position: fixed;
	bottom: -50px;
	right: 0;
	z-index: -1;
}
.container {
	z-index: 1;
	max-width: 80%;
}

.title_cotainer_change{
    position: absolute;
    width: 76%;
    top: 14px;
    left: 15px;
    background-color: #f5f5f5;
    display:none;
}
.title_val{
    margin: 0;
    width: 70%;
}
.save_title{
    padding: 2.5px 8px;
    font-size: 12px;
    float:left;
    margin-right: 8px;
}
.glyphicon {
	margin: 0 10px;
	display: none;
	cursor: pointer;
}