.btn-delete {
	float: right;
	margin-left: 10px;
}
.panel-title {
	float: left;
	max-width: 82%;
	text-decoration: underline;
    cursor: pointer;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-heading {
	min-height: 55px;
	cursor: move;
	position: relative;
}
.panel-body {
	min-height: 134px;
}
.add-card {
	margin-bottom: 10px;
	width: 100%;
}
.card {
	border: 1px dotted #333;
	border-radius: 10px;
	margin-top: 5px;
	min-height: 55px;
	padding: 10px;
	text-align: justify;
	background: #F6F6F6;
}
.card-description {
	max-width: 84%;
	display: inline;
	cursor: text;
}
.card-edit {
	color: #333;
	font-size: 0.7em;
	margin-top: 10px;
}
.card-placeholder {
	border: 2px dotted #3E6F11;
	border-radius: 10px;
	margin-top: 5px;
	min-height: 55px;
	padding: 10px;
	background: #fff;
}
ul {
	padding-left: 0;
	list-style-type: none;
	min-height: 55px;
	margin-bottom: 0;
}
.create-column {
	margin-bottom: 15px;
}
.fon {
	position: relative;
	background-image: url('http://i.piccy.info/i9/6da743c9ac136f0ee74b3eda3d68d74c/1489503982/214886/1128328/bg_1.jpg');
	background-position: center;
	height: 100vh;
	background-size: cover;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.img-left {
	position: absolute;
	top: calc(100vh - 861px);
	left: -80px;
}
.img-right {
	position: absolute;
	top: calc(100vh - 730px);
	right: 0;
}
.container {
	z-index: 2;
	max-width: 80%;
}

.title_cotainer_change{
    position: absolute;
    width: 76%;
    top: 14px;
    left: 15px;
    background-color: #f5f5f5;
    /*border: 1px solid #aaa;*/
    /*padding: 7px;*/
    display:none;
}
.title_val{
    margin: 0;
    width: 70%;
}
.save_title{
    padding: 2.5px 8px;
    font-size: 12px;
    float:left;
    margin-right: 8px;
}
.glyphicon {
	margin: 0 10px;
	display: none;
	cursor: pointer;
}